# Ignore irrelevant and generated outputs
/src
/build
/target

bindings/node/
bindings/rust/
binding.gyp

Cargo.toml
Cargo.lock
yarn.lock
package-lock.json
*.log

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml
